body {
  background: #2e2b33;
  text-align: center;
  color: #ddd;
  font-family: Roboto, 'Courier New', Courier, monospace;
  font-weight: bolder;
}

a, a:hover{
  text-decoration: none;
  color: lightsteelblue;
}

button {
  background-color: #ddd;
  border: none;
  color: #222;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  font-family: Roboto, 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  font-size: 1rem;
}

button:hover {
  background-color: #bbb;
}

h1 {
  margin-bottom: .5rem;
  font-weight: bolder;
}

img {
  width: 3.5rem;
  cursor: pointer;
}

p {
  font-weight: normal;
}

.floor h2 {
  margin-top: .5rem;
  cursor: pointer;
}

.legend {
  width: 14rem;
  text-align: left;
  font-size: .9rem;
  display: inline-block;
  position: relative;
  margin: .5rem auto;
  margin-left: 1rem;
  width: 14rem;
  border: 1px solid #222;
  /*transform: translateY(-50%);*/
  bottom: 7rem;
  margin-right: 2rem;
}

.legend h2 {
  text-align: center;
}

.legend ul {
  padding-left: 0;
  list-style-type: none;
}

.legend li {
  padding: .5rem;
  font-size: .9rem;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
}

.constraints {
  width: 14rem;
  font-size: .9rem;
  display: inline-block;
  margin: .5rem auto;
  width: 12rem;
  transform: translateY(-30%);
  margin-left: 2rem;
}

.dismalLuck {
  margin-bottom: 4rem;
}

.dismalLuck ul {
  padding-left: 0;
  list-style-type: none;
}

.dismalLuck li {
  display: inline;
}

.allowedFactions ul {
  list-style-type: none;
  padding-left: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#context-menu-floor, #context-menu-allowedFactions, #context-menu-dismalLuck {
  position: fixed;
  z-index: 10000;
  width: 14rem;
  background: 	rgb( 27 , 26 , 26, .75);
  border-radius: .5rem;
  text-align: left;
  transform: scale(0);
  transform-origin: top left;
}

#context-menu-floor.visible, #context-menu-allowedFactions.visible, #context-menu-dismalLuck.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu-floor .item, #context-menu-allowedFactions .item, #context-menu-dismalLuck .item{
  padding: .5rem;
  font-size: .9rem;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
}

#context-menu-floor .item:hover, #context-menu-allowedFactions .item:hover, #context-menu-dismalLuck .item:hover {
  background: 	rgb( 27 , 26 , 26, .9);
}

#context-menu-floor span, .legend span {
  width: 2rem;
  height: 2rem;
}

#context-menu-allowedFactions img, #context-menu-dismalLuck img {
  width: 2rem;
}

.floor {
  display: inline-block;
  margin: .5rem auto;
  width: 15rem;
  text-align: center;
}

div.floor:last-of-type {
  border-left: 1px solid #111;
}

span {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  margin: -.4rem .1rem;
  line-height: 4rem;
  font-size: 3rem;
  vertical-align: middle;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

span.yellow {
  background: #FFFF66;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
span.black {
  background: dimgray;
  color: #eee;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

span.red {
  background: tomato;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.lightbrown {
  background: tan;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.brown {
  background: peru;
  color: #eee;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

span.blue {
  background: cornflowerblue;
  color: #eee;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

span.lightblue {
  background: LightSkyBlue;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.pink {
  background: hotpink;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.white {
  background: #eee;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
