html,
body {
  height: 100%;
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

button {
  border: none;
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bolder;
  margin: 0 .5rem;
  padding: .5rem 1rem;
  text-align: center;
}

div.floor:last-of-type {
  border-left: 1px solid #111;
}

h1 {
  font-weight: bolder;
  margin-bottom: .5rem;
}

img {
  cursor: pointer;
  width: 3.5rem;
}

p {
  font-weight: normal;
}

span {
  box-sizing: border-box;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  cursor: pointer;
  display: inline-block;
  font-size: 3rem;
  height: 4rem;
  line-height: 4rem;
  margin: -.4rem .1rem;
  position: relative;
  vertical-align: middle;
  width: 4rem;
}

#LabPath {
  display: inline-block;
  max-width: 81rem;
}

#context-menu-allowedFactions,
#context-menu-dismalLuck,
#context-menu-floor {
  background: rgb( 27, 26, 26, .75);
  border-radius: .5rem;
  position: fixed;
  text-align: left;
  transform: scale(0);
  transform-origin: top left;
  width: 14rem;
  z-index: 10000;
}

#context-menu-allowedFactions.visible,
#context-menu-dismalLuck.visible,
#context-menu-floor.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu-floor span,
.legend span {
  height: 2rem;
  width: 2rem;
}

#context-menu-allowedFactions .item,
#context-menu-dismalLuck .item,
#context-menu-floor .item {
  cursor: pointer;
  border-radius: inherit;
  font-size: .9rem;
  padding: .5rem;
}

#context-menu-allowedFactions .item:hover,
#context-menu-floor .item:hover {
  background: rgb( 27, 26, 26, .9);
}

#context-menu-dismalLuck {
  width: 20rem;
}

#context-menu-dismalLuck div {
  padding: 0 !important;
}

#context-menu-dismalLuck img,
#context-menu-allowedFactions img {
  width: 2rem;
}

#context-menu-dismalLuck img:hover {
  opacity: .75;
}

#context-menu-dismalLuck li {
  display: inline;
}

#context-menu-dismalLuck ul {
  columns: 7;
  -webkit-columns: 7;
  -moz-columns: 7;
  list-style-type: none;
  margin: .5rem;
  padding: 0;
}

#Index {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 2rem;
  text-decoration: none;
  vertical-align: middle;
}

#Index h1 {
  margin: 2rem 0;
}

#Index img {
  border: 2px solid #eee;
  border-radius: 50%;
  width: 10rem !important;
}

#LabPath {
  position: relative;
}

#Mode {
  height: 1.75rem;
  vertical-align: middle;
}

.allowedFactions ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
  padding-left: 0;
}

.constraints {
  display: inline-block;
  font-size: .9rem;
  margin: .5rem auto;
  margin-left: 2rem;
  transform: translateY(-30%);
  width: 12rem;
}

.dismalLuck {
  margin-bottom: 4rem;
}

.dismalLuck li {
  display: inline;
}

.dismalLuck ul {
  list-style-type: none;
  padding-left: 0;
}

.floor {
  display: inline-block;
  margin: .5rem auto;
  text-align: center;
  width: 15rem;
}

.floor h2 {
  cursor: pointer;
  margin-top: .5rem;
}

.legend {
  border: 1px solid #222;
  bottom: 7rem;
  display: inline-block;
  font-size: 1rem;
  margin: .5rem auto;
  margin-left: 1rem;
  margin-right: 2rem;
  position: relative;
  text-align: left;
  /*transform: translateY(-50%);*/
  width: 15rem;
}

.legend h2 {
  text-align: center;
}

.legend li {
  border-radius: inherit;
  cursor: pointer;
  font-size: .9rem;
  padding: .5rem;
}

.legend ul {
  list-style-type: none;
  padding-left: 0;
}

.tags {
  display: block;
  left: 2rem;
  position: absolute;
  text-align: left;
  top: 2rem;
  width: 16rem;
}
