/* DARK MODE*/

body {
  background-color: #2e2b33;
  color: #ddd;
}

a,
a:hover {
  color: lightsteelblue;
}

button {
  background-color: #ddd;
  color: #222;
}

button:hover {
  background-color: #bbb;
}

div.floor:last-of-type,
.legend {
  border-color: #111;
}

span::before {
  background-color: #eee;
  /*filter: brightness(1.5);*/
  opacity: 0;
}

#context-menu-allowedFactions,
#context-menu-dismalLuck,
#context-menu-floor {
  background: rgb( 26, 26, 26, .75);
}

#context-menu-floor .item,
#context-menu-allowedFactions .item,
#context-menu-dismalLuck .item {
  color: #eee;
}

#context-menu-allowedFactions .item:hover,
#context-menu-floor .item:hover {
  background: rgb( 26, 26, 26, .9);
}

#LabPath svg {
  fill: #eee;
}

.legend li {
  color: #eee;
}

span.yellow::after,
span.yellow::before {
  background-color: #FFFF66;
}

span.black::after,
span.black::before {
  background-color: dimgray;
}

span.purple::after,
span.purple::before {
  background-color: Plum;
}

span.red::after,
span.red::before {
  background-color: tomato;
}

span.lightbrown::after,
span.lightbrown::before {
  background-color: tan;
}

span.brown::after,
span.brown::before {
  background-color: peru;
}

span.blue::after,
span.blue::before {
  background-color: cornflowerblue;
}

span.lightblue::after,
span.lightblue::before {
  background-color: LightSkyBlue;
}

span.orange::after,
span.orange::before {
  background-color: lightsalmon;
}

span.pink::after,
span.pink::before {
  background-color: hotpink;
}

span.white::after,
span.white::before {
  background-color: #eee;
}

span.yellow,
span.purple,
span.red,
span.lightbrown,
span.lightblue,
span.orange,
span.pink,
span.white {
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.black,
span.brown,
span.blue {
  color: #eee;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
