body {
  background: #2e2b33;
  text-align: center;
  color: #ddd;
  font-family: Roboto, 'Courier New', Courier, monospace;
  font-weight: bolder;
}

#context-menu {
  position: fixed;
  z-index: 10000;
  width: 12rem;
  background: 	rgb( 27 , 26 , 26, .75);
  border-radius: .5rem;
  text-align: left;
  transform: scale(0);
  transform-origin: top left;
}

#context-menu.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu .item {
  padding: .5rem;
  font-size: .9rem;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
}

#context-menu .item:hover {
  background: 	rgb( 27 , 26 , 26, .9);
}

#context-menu span {
  width: 2rem;
  height: 2rem;
}

.floor {
  display: inline-block;
  margin: 1rem auto;
  width: 15rem;
  text-align: center;
}

span {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  margin: -.4rem .1rem;
  line-height: 4rem;
  font-size: 3rem;
  vertical-align: middle;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

span.yellow {
  background: #FFFF66;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
span.black {
  background: dimgray;
  color: #eee;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

span.red {
  background: tomato;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.lightbrown {
  background: tan;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.brown {
  background: peru;
  color: #eee;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

span.blue {
  background: cornflowerblue;
  color: #eee;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

span.lightblue {
  background: lightblue;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.pink {
  background: pink;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span.white {
  background: #eee;
  color: #111;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
